// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

/// Things setup in Xcode
// 1: Add a build phase to run the 'compile-library.sh'
// 2: Set Xcode target to use .xcconfig for build settings

// Make sure that this isn't overridden in Xcode settings
ENABLE_USER_SCRIPT_SANDBOXING=NO

LIBRARY_SEARCH_PATHS[sdk=iphoneos*][arch=arm64] = $(inherited) "$(PROJECT_DIR)/../rustpart/target/aarch64-apple-ios/debug";
LIBRARY_SEARCH_PATHS[sdk=iphonesimulator*][arch=arm64] = $(inherited) "$(PROJECT_DIR)/../rustpart/target/aarch64-apple-ios-sim/debug";

OTHER_LDFLAGS[sdk=iphoneos*][arch=arm64]  = $(inherited) \
 -L"$(SRCROOT)/../rustpart/target/aarch64-apple-ios/debug" -lshipping_rust_ffi

OTHER_LDFLAGS[sdk=iphonesimulator*][arch=arm64] = $(inherited) \
 -L"$(SRCROOT)/../rustpart/target/aarch64-apple-ios-sim/debug" -lshipping_rust_ffi

SWIFT_OBJC_BRIDGING_HEADER = Rusty/FFIBridge.h
